.cartitems {
	/* margin: 100px 170px; */
	display: flex;
	flex-direction: column;


	margin: 100px auto;
	text-align: left;
	width: 90vw;
	max-width: 1400px;
}

.cartitems hr {
	height: 3px;
	background: #e2e2e2;
	border: 0;
}

.cartitems-format-main {
	display: grid;
	/* grid-template-columns: 0.7fr 2fr 0.8fr 1fr 0.8fr 0.8fr; */
	grid-template-columns: 0.7fr 5.4fr;
	align-items: center;
	/* justify-content: end; */
	gap: 10px 25px;
	padding: 15px 0px;
	color: #454545;
	font-size: 18px;
	font-weight: 600;

	/* background: red; */
}

.item-right {
	display: grid;
	grid-template-columns: 2fr 0.8fr 1fr 0.8fr 0.8fr;
	align-items: center;
	justify-content: center;
	gap: 10px 0px;
}

.center {
	text-align: center;
	/* font-size: 90px; */
}

.cartitems-format {
	font-size: 17px;
	font-weight: 500;
}

.cartitems-product-icon {
	/* height: 62px; */
	width: 100px;
	/* rotate: 90deg; */
}

.cartitems-quantity-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.cartitems-quantity {
	width: 50px;
	height: 45px;
	border: 2px solid #ebebeb;
	background: #fff;
	font-size: 16px;
}

.cartitems-quantity-change {
	width: 34px;
	height: 30px;
	border: none;
	background: #fff;
	font-size: 12px;
	cursor: pointer;
}

.cartitems-remove-icon {
	display: flex;
	width: 15px;
	cursor: pointer;
	margin: 0px 44%;
}

.item-remove {
	display: none;
}

.cartitems-down {
	display: flex;
	margin: 100px 0px;
	/* gap: 15%; */
}

.cartitems-total {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-right: 200px;
	/* gap: 40px; */
}

.cartitems-total-item {
	display: flex;
	justify-content: space-between;
	padding: 15px 0px;
}

.cartitems-total button {
	width: 262px;
	height: 58px;
	outline: none;
	border: none;
	background: #ff5a5a;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.cartitems-promocode {
	flex: 1;
	font-size: 16px;
	font-weight: 500;
}

.cartitems-promocode p {
	color: #555;
}

.cartitems-promobox {
	width: 504px;
	margin-top: 15px;
	padding-left: 20px;
	height: 58px;
	background: #eaeaea;
}

.cartitems-promobox input {
	border: none;
	outline: none;
	background: transparent;
	font-size: 16px;
	width: 330px;
	height: 50px;
}

.cartitems-promobox button {
	width: 170px;
	height: 58px;
	font-size: 16px;
	background: black;
	color: #fff;
	cursor: pointer;
}

@media(max-width: 1280px) {
	.cartitems {
		margin: 60px auto;
	}

	.cartitems-format-main {
		/* grid-template-columns: 0.7fr 2fr 0.8fr 1fr 0.8fr 0.8fr; */
		/* grid-template-columns: 0.7fr 5.4fr;
		/* grid-template-columns: 0.7fr 2fr 0.8fr 1fr 0.8fr 0.8fr; */
		/* grid-template-columns: 0.5fr 2fr 0.5fr .8fr 0.5fr 0.5fr; */
		grid-template-columns: 0.8fr 4.3fr;
		/* gap: 10px 25px;
		padding: 15px 0px;
		font-size: 18px; */
		gap: 15px;
		padding: 15px 0px;
		font-size: 16px;
	}

	.item-right {
		display: grid;
		/* grid-template-columns: 2fr 0.8fr 1fr 0.8fr 0.8fr; */
		grid-template-columns: 1.4fr 0.5fr .8fr 0.5fr 0.5fr;
		align-items: center;
		justify-content: center;
		gap: 10px 0px;
	}

	.item-name {
		width: 80%;
	}

	.cartitems-quantity {
		width: 45px;
		height: 40px;
		font-size: 15px;
	}

	.cartitems-quantity-change {
		width: 30px;
		height: 28px;
		font-size: 11px;
	}

	.cartitems-remove-icon {
		width: 12px;
	}

	.cartitems-down {
		margin: 80px 0px;
		flex-direction: column;
		gap: 80px;
		margin-bottom: 60px;
	}

	.cartitems-total {
		margin-right: 0px;
	}

	.cartitems-total button {
		width: 220px;
		height: 55px;
		font-size: 15px;
	}

	.cartitems-promobox {
		width: auto;
		max-width: 500px;
		height: 55px;
	}

	.cartitems-promobox input {
		width: 100%;
		/* height: 50px; */
	}

	.cartitems-promobox button {
		width: 150px;
		height: 55px;
		margin-left: -155px;
	}
}

@media (max-width: 800px){
	.cartitems-format-main {
		grid-template-columns: 1fr 4.3fr;
		/* gap: 10px 25px;
		padding: 15px 0px;
		font-size: 18px; */
		gap: 0px;
		padding: 15px 0px;
		font-size: 1.9svw;
	}

	.item-right {
		display: grid;
		/* grid-template-columns: 2fr 0.8fr 1fr 0.8fr 0.8fr; */
		grid-template-columns: 1.4fr 0.5fr .8fr 0.5fr 0.5fr;
		align-items: center;
		justify-content: center;
		gap: 10px 0px;
	}

	.item-name {
		width: 95%;
	}

	.cartitems-total {
		font-size: 1.9svw;
	}

	.cartitems-total button {
		font-size: 1.8svw;
	}

	.cartitems-promocode {
		font-size: 1.9svw;
	}

	.cartitems-promobox input {
		font-size: 1.9svw;
	}

	.cartitems-promobox button {
		font-size: 1.9svw;
	}


}

@media(max-width: 650px){
	.cartitems-format-main {
		grid-template-columns: 1.1fr 4.3fr;
		gap: 10px;
		padding: 10px 0px;

		font-size: 13px;
	}

	.cartitems-total {
		font-size: 14px;
		font-size: 13px;
	}

	.cartitems-total button {
		font-size: 13px;
	}

	.cartitems-promocode {
		font-size: 1.9svw;
		font-size: 12px;
	}

	.cartitems-promobox input {
		font-size: 1.9svw;
		font-size: 13px;
	}

	.cartitems-promobox button {
		font-size: 1.9svw;
		font-size: 14px;
	}
}

@media (max-width: 550px){
	.cartitems-format-main {
		display: none;
		gap: 5px 15px;
		padding: 5px 0px;
		justify-items: center;
	}

	.cartitems-format {
		display: flex;
		font-size: 11px;
	}

	.cartitems-product-icon {
		height: 105px;
		width: auto;
		/* float: left; */
	}

	.item-right {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 3px 0px;
	}

	.item-name {
		/* position: relative; */
		/* width: 80%; */
	}

	.item-price {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		/* width: 20%; */
		height: 28px;
		margin-top: 4px;
		margin-right: 5%;
		margin-left: 5%;


		/* background-color: blue; */
		/* align-self: flex-end; */
	}

	.item-total {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 50%;
		height: 28px;
		font-weight: 600;

		display: none;
	}

	.cartitems-quantity-container {
		align-self: center;
		margin-top: 4px;
		/* width: 35%; */
		display: flex;

		/* background: red; */
		align-self: flex-end;
	}

	.cartitems-quantity {
		/* min-width: 30px; */
		width: 25px;
		height: 22px;
		border: 1px solid #ebebeb;
		background: #fff;
		font-size: 9px;
	}

	.cartitems-quantity-change {
		width: 26px;
		height: 14px;
		font-size: 9px;
		/* text-align: left; */
	}

	.cartitems-remove-icon {
		/* rotate: 10deg; */
		width: 12px;
		background: red;
		/* margin-right: 28px; */
		margin: 10px 32px;
		/* float: right; */

		display: none;
	}

	.item-remove {
		display: flex;
		/* width: 25%; */
		height: 28px;
		text-decoration: underline;
		font-size: 9px;

		/* justify-content: space-around; */
		/* background: red; */
		/* align-self: flex-end; */
		align-items: flex-end;

	}

	.cartitems-total {
		font-size: 11px;
	}

	.cartitems-total button {
		height: 50px;
		width: 210px;
		font-size: 11px;
	}

	.cartitems-promocode {
		font-size: 11px;
	}

	.cartitems-promobox {
		min-width: 260px;
		width: 90%;
		height: 45px;
		padding-left: 0px;
		/* background: blue; */


	}

	.cartitems-promobox input{
		width: calc(100% - 90px);
		height: 42px;
		padding-left: 15px;
		font-size: 12px;
		/* background: red; */

	}

	.cartitems-promobox button {
		width: 90px;
		height: 45px;
		font-size: 11px;
		margin-left: -17px;
	}

}