.loginsignup {
	width: 100%;
	height: 80%;
	background: #fce3fe;
	padding-top: 100px;
	padding-bottom: 100px;
}

.login {
	/* height: 450px; */
	/* height: var(--height); */
}

.signup {
	/* height: 10010px; */
	/* height: var(--height); */
}

.alert {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 580px;
	height: calc(var(--height) + 60px);
	/* height: 670px; */
	margin: auto;
	padding: 10px 60px;
	background: black;
	opacity: .8;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 1s ease;
}

.alert.hide {
	visibility: hidden;
	opacity: 0;
  }

.loginsignup-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 580px;
	height: var(--height);
	background: white;
	margin: auto;
	padding: 40px 60px;
	border-radius: 25px;
}

.loginsignup-container h1 {
	margin: 15px 0px;
}

.loginsignup-fields {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 29px;
	margin-top: 30px;
}

.loginsignup-fields input {
	height: 72px;
	width: cal(100% - 40px);
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #c9c9c9;
	outline: none;
	color: #5c5c5c;
	font-size: 18px;
	font-family: Poppins;
}

.loginsignup-container button {
	/* align-self: center; */

	width: calc(100% + 2px);
	height: 72px;
	/* height: var(--height);; */
	color: white;
	background: #ff4141;
	margin-top: 30px;
	border: none;
	font-size: 24px;
	font-weight: 500;
	/* cursor: pointer; */
}

.loginsignup-login {
	margin-top: 20px;
	color: #5c5c5c;
	font-size: 18px;
	font-weight: 500;
}

.loginsignup-login span {
	color: #ff4141;
	font-weight: 600;
	cursor: pointer;
}

.loginsignup-agree {
	display: flex;
	align-items: center;
	margin-top: 25px;
	gap: 20px;
	color: #5c5c5c;
	font-size: 18px;
	font-weight: 500;
}

@media(max-width: 1280px){

	.loginsignup {
		padding-top: 50px;
	}

	.loginsignup-container.signup {
		height: 535px;
	}

	.alert.signup {
		height: 595px;
	}


	.loginsignup-container.login {
		height: 400px;
	}

	.alert.login {
		height: 460px;
	}


	.loginsignup-container h1 {
		margin: 10px 0px;
	}

	.loginsignup-fields {
		gap: 20px;
		margin-top: 20px;
	}

	.loginsignup-fields input {
		height: 65px;
		width: calc(100% - 40px);
	}

	.loginsignup-container button {
	}

	.loginsignup-login {
		font-size: 16px;
	}

	.loginsignup-agree {
		font-size: 14px;
		gap: 10px;
	}
}

@media(max-width: 800px) {
	.loginsignup-container {
		padding: 20px 45px;
		width: 80%;
		/* height: 500px; */
	}

	.alert {
		width: calc(80% + 30px);
		padding: 20px 30px;
		font-size: 18px;
	}

	.loginsignup-container.login {
		height: 340px;
	}

	.alert.login {
		height: 340px;
	}

	.loginsignup-container.signup {
		height: 460px;
	}

	.alert.signup {
		height: 460px;
	}

	.loginsignup-container h1 {
		font-size: 24px;
	}

	.loginsignup-fields {
		margin-top: 20px;
	}

	.loginsignup-fields input {
		height: 50px;
		/* width: calc(100% - 40px); */

	}

	.loginsignup-container button {
		height: 50px;
		font-size: 16px;
	}
}

@media(max-width: 500px) {
	.loginsignup-container {
		padding: 25px 30px;
		width: 80%;
		height: 400px;
	}

	.alert {
		width: calc(80% + 0px);
		padding: 20px 30px;
		font-size: 16px;
	}

	.loginsignup-container.login {
		height: 280px;
	}

	.alert.login {
		height: 290px;
	}

	.loginsignup-container.signup {
		height: 380px;
	}

	.alert.signup {
		height: 390px;
	}

	.loginsignup-container h1 {
		font-size: 24px;
	}

	.loginsignup-fields {
		margin-top: 20px;
		gap: 10px;
	}

	.loginsignup-fields input {
		height: 40px;
		/* width: calc(100% - 40px); */
		font-size: 14px;
	}

	.loginsignup-container button {
		height: 50px;
		font-size: 14px;
		margin-top: 15px;
	}

	.loginsignup-login {
		font-size: 2.8svw;
	}

	.loginsignup-agree {
		gap: 10px;
		font-size: 2.6svw;
		margin-top: 15px;
	}

	.loginsignup-agree input {
		width: 10px;
		height: 10px;
	}
}

@media(max-width: 400px){

	.loginsignup-container h1 {
		/* margin: 15px 0px; */
		font-size: 21px;
	}

	.loginsignup-fields input{
		font-size: 11px;
	}

	.loginsignup-container.signup {
		height: 360px;
	}

	.alert.signup {
		height: 370px;
	}
}

