.item {
	width: 300px;
	width: calc(100svw/5);
	transition: all 1.2s ease-in-out;
	/* width: 260px; */
}

.item img {
	width: 300px;
	width: calc(100svw/5)
	/* width: 260px; */
}

.item-name {
	text-transform: capitalize;
	margin: 6px 0px;
	text-align: start;
	font-weight: 400;
	font-size: 1.1rem;
}

.item-prices {
	display: flex;
	gap: 20px;
}

.item-sale-price {
	color: #374151;
	/* font-size: 18px; */
	font-weight: 600;
	font-size: 1.2rem;
}

.item-retail-price {
	color: #8c8c8c;
	/* font-size: 16px; */
	font-size: min(1.2svh, 1.2svw);
	/* font-size: min(1.2svh, 1.2svw); */
	font-size: 1.05rem;
	font-weight: 500;
	text-decoration: line-through;
}

.item:hover {
	transform: scale(1.05);
	transition: 0.6s;
}


@media(max-width: 1480px){
	.item {
		/* width: 280px; */
		width: 260px;
	}

	.item img {
		/* width: 280px; */
		width: 260px;
	}
}

@media(max-width: 1280px){
	.item {
		width: 220px;
		font-size: 14px;
	}

	.item img{
		width: 220px;
	}

	.item-sale-price {
		font-size: 16px;
	}

	.item-retail-price {
		font-size: 14px;
	}
}

@media(max-width: 1024px) {
	.item {
		width: 170px;
		font-size: 13px;
	}

	.item img {
		width: 170px;
	}

	.item-sale-price {
		font-size: 15px;
	}

	.item-retail-price {
		font-size: 13px;
	}
}

@media(max-width: 800px) {
	.item {
		width: 120px;
		font-size: 12px;
	}

	.item img {
		width: 120px;
	}

	.item-sale-price {
		font-size: 14px;
	}

	.item-retail-price {
		font-size: 12px;
	}
}

@media(max-width: 500px) {
	.item {
		width: 160px;
	}

	.item img {
		width: 160px;
	}
}