@import url('../../index.css');

.item {
	width: 300px;
	width: min(calc(90svw/5), calc(var(--shopcategory-width)/4.5) );
	transition: all 1.2s ease-in-out;
	max-height: min(calc(1.5*100svw/5), calc(1.5*var(--shopcategory-width)/4) );
}

.item img {
	width: 300px;
	width: min(calc(90svw/5),calc(var(--shopcategory-width)/4.5) );
}

@media (min-width: 2560px){
	.item {
		width: min(calc(90svw/6), calc(var(--shopcategory-width)/5.5) );
		max-height: min(calc(1.5*100svw/6), calc(1.5*var(--shopcategory-width)/5) );
	}

	.item img {
		width: min(calc(90svw/6),calc(var(--shopcategory-width)/5.5) );
	}
}
@media (min-width: 2560px) and (min-aspect-ratio: 2){
	.item {
		width: min(calc(90svw/9), calc(var(--shopcategory-width)/8) );
		max-height: min(calc(1.5*100svw/6), calc(1.5*var(--shopcategory-width)/5) );
	}

	.item img {
		width: min(calc(90svw/9), calc(var(--shopcategory-width)/8) );
	}
}

.item-name {
	text-transform: capitalize;
	margin: 6px 0px;
	text-align: start;
	font-weight: 400;
	font-size: 1.1rem;
}

.item-prices {
	display: flex;
	gap: 20px;
}

.item-sale-price {
	color: #374151;
	/* font-size: 18px; */
	font-weight: 600;
	font-size: 1.2rem;
}

.item-retail-price {
	color: #8c8c8c;
	/* font-size: 16px; */
	font-size: 1.05rem;
	font-weight: 500;
	text-decoration: line-through;
}

.item:hover {
	transform: scale(1.05);
	transition: 0.6s;
}


@media(max-width: 1920px){
	.item {
		width: calc(100svw/5.5);
		max-width: 380px;
		max-height: 550px;
	}

	.item img {
		width: calc(100svw/5.5);
		max-width: 380px;
	}
}

@media(max-width: 1280px){
	.item {
		width: 220px;
		font-size: 14px;
	}

	.item img{
		width: 220px;
	}

	.item-sale-price {
		font-size: 16px;
	}

	.item-retail-price {
		font-size: 14px;
	}
}

@media(max-width: 1024px) {
	.item {
		width: 170px;
		font-size: 13px;
	}

	.item img {
		width: 170px;
	}

	.item-sale-price {
		font-size: 15px;
	}

	.item-retail-price {
		font-size: 13px;
	}
}

@media(max-width: 800px) {
	.item {
		width: 120px;
		font-size: 12px;
	}

	.item img {
		width: 120px;
	}

	.item-sale-price {
		font-size: 14px;
	}

	.item-retail-price {
		font-size: 12px;
	}
}

@media(max-width: 500px) {
	.item {
		width: 160px;
	}

	.item img {
		width: 160px;
	}
}