:root {
	--navbar-height: min(5.2svh, 5.2svw);
	--navbar-padding: 1.3svh;
}

.navbar {
	display: flex;
	justify-content: space-around;
	padding: var(--navbar-padding) 0;
	box-shadow: 0 1px 3px -2px black;
	align-items: center;
	top: 0;
	width: 100%;
	height: var(--navbar-height);
	background: #f3f3f3;
	position: fixed!important;
	z-index: 999;
	/* background: yellow; */
}

.navbar-placeholder {
	width: 98vw;
	height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	background: blue;
}


.navbar-logo{
	display: flex;
	align-items: center;
	gap: 1svw;
	text-decoration: none;
}

.navbar-logo img {
	width: min(4.5svh, 4.5svw);
}

.navbar-logo p {
	color: #171717;
	font-size: min(3.05svh, 3.05svw);
	/* font-weight: 600; */
	text-decoration: none;
}

.navbar-menu {
	display: flex;
	align-items: center;
	list-style: none;
	/* gap: 50px; */
	gap: 4svw;
	color: #626262;
	font-size: min(1.7svw, 1.6svh);
	font-weight: 500;
	padding-right: 2svw;

}

.navbar-menu li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
	cursor: pointer;
	color: yellow;
}

.navbar-menu hr {
	border: none;
	width: 80%;
	height: .2svh;
	border-radius: 10px;
	background: #ff4141;
}

.navbar-login-cart {
	display: flex;
	gap: 3svh;
	padding-right: 1vw;
	/* background: blue; */
	align-content: center;
	justify-content: center;
}

.navbar-login {
	display: flex;
	/* align-items: center; */
	/* margin-top: 1%; */
}

.navbar-login button {
	height: min(5.2svh, 5.2svw);
	width: min(12svw, 15svh);
	outline: none;
	border: 1px solid #7a7a7a;
	border-radius: 6svw;
	color: #515151;
	font-size: min(1.6svh, 1.5svw);
	font-weight: 600;
	background: white;
	cursor: pointer;
}

.navbar-login button:active {
	background: #f3f3f3;
}

.navbar-cart {
	display: flex;
	margin-top: 3%;
	/* align-items: center; */
}

.navbar-cart img {
	width: min(3.8svh, 3.8svw);
}

.navbar-cart-count {
	height: min(2svh, 2svw);
	width: min(2svh, 2svw);
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: max(-.5svh, -.5svw);
	margin-left: max(-1svh, -1svw);
	/* margin-top: max(-2.5svh, -2.5svw); */
	/* margin-left: max(-1svh, -1svw); */
	border-radius: 1.05svh;
	font-size: min(1.2svh, 1.3svw);

	font-weight: 600;
	background: red;
	color: white;
}

.navbar-dropdown {
	display: none;
}

@media(max-width: 1280px){

	.navbar-logo p {
		font-size: min(2.8svh, 2.8svw);
	}

	.navbar-menu {
		font-size: min(1.5svw, 1.4svh);
	}

	.navbar-login button {
		transform: scale(.95);
	}

	.navbar-cart {
		margin-top: min(.5svw, .5svh);
	}

}

@media(max-width: 1024px){


}

@media(max-width: 800px){

	.navbar-dropdown {
		display: block;
		width: min(3.5svw, 3.5svh);
		rotate: -90deg;
		transition: .75s ease-in-out;
	}

	.navbar-menu {
		visibility: hidden;
		height: calc(var(--navbar-height) + 1.5*var(--navbar-padding));
		width: 100%;
		position: absolute;
		background: #f3f3f3;
		justify-content: center;
		top: calc(var(--navbar-height) + var(--navbar-padding));
		gap: 5svw;

		opacity: 0;
		transform: translateY(-30%); /* Start with the menu off-screen */
		transition: opacity .75s ease-in-out, transform .75s ease-in-out; /* Transition both properties */
		z-index: 999;
	}

	.navbar-menu-visible {
		visibility: visible;
		display: flex;
		opacity: 1;
		transform: translateY(0); /* Move the menu to its normal position when visible */
	}

	.navbar-dropdown.open {
		transform: rotate(90deg);
	}

	.navbar-login-cart {
		padding-right: 0;
	}

	.navbar-login {
		margin-top: 1%;
	}

	.navbar-login button {
		/* margin-top: min(1svw, 1svh); */
		border: .8px solid #171717;
	}

	.navbar-cart {
		margin-top: min(1svw, 1svh);
	}

}

@media(max-width: 660px){


}

@media(max-width: 512px){

	.navbar-menu {
		font-size: min(1.7svw, 1.6svh);
	}

	.navbar-dropdown {
		width: min(3.8svw, 3.8svh);
	}

	.navbar-login-cart {
		display: flex;
		flex-direction: row;
		gap: 15%;
		align-items: center;
		/* margin-top: -1%; */

	}

	.navbar-login {
		margin-top: max(-1.0svw, -2.9svh);
	}

	.navbar-login button {
		border: .5px solid #171717;
	}

	.navbar-cart {
		margin-top: 8%;
	}

	.navbar-cart-count {
		width: 10px;
		height: 10px;
		border-radius: 11px;
		font-size: 6px;
		font-weight: 100;
	}

	.navbar-cart img {
		width: 17px;
	}

}

@media(max-width: 412px){
	.navbar-login-cart {
		/* margin-top: -1%; */
	}
	.navbar-login {
		margin-top: -8%;
	}
	.navbar-cart {
		transform: scale(.9);
	}
}

@media(max-width: 300px){
	.navbar-login {
		margin-top: -13%;
	}
	.navbar-cart {
		transform: scale(.8);
	}
}