:root {
	--navbar-height: min(4.1svh, 4.1svw);
	/* --navbar-padding: 1.15svh; */
	--navbar-padding: 17px;
}

.navbar {
	display: flex;
	/* justify-content: space-around; */
	justify-content: space-between;
	/* padding: var(--navbar-padding) 0; */
	padding: var(--navbar-padding) 5%;
	box-shadow: 0 1px 3px -2px black;
	align-items: center;
	top: 0;
	width: 90%;
	height: var(--navbar-height);
	background: #f3f3f3;
	position: fixed!important;
	z-index: 999;



	/* background: yellow; */
	/* max-height: 100px; */
	/* height: 100px; */
}

.navbar-placeholder {
	width: 98vw;
	height: calc(var(--navbar-height) + 2*var(--navbar-padding));
}


.navbar-logo{
	display: flex;
	align-items: center;
	gap: 1svw;
	text-decoration: none;

	/* background: blue; */
}

.navbar-logo img {
	width: min(3.9svh, 3.9svw);
}

.navbar-logo p {
	color: #171717;
	margin-top: auto;
	font-size: min(2.25svh, 2.25svw);
	font-weight: 600;
	text-decoration: none;
}

.navbar-menu {
	display: flex;
	align-items: center;
	list-style: none;
	/* gap: 50px; */
	gap: 4svw;
	color: #626262;
	font-size: min(1.7svw, 1.6svh);
	font-weight: 500;
	padding-right: 2svw;

}

.navbar-menu li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
	cursor: pointer;
	/* color: yellow; */
}

.navbar-menu hr {
	border: none;
	width: 80%;
	height: .2svh;
	border-radius: 10px;
	background: #ff4141;
}

.navbar-login-cart {
	display: flex;
	gap: 3svh;
	/* background: blue; */
	align-content: center;
	justify-content: center;
	/* padding-right: 1vw; */
}

.navbar-login {
	display: flex;
	/* align-items: center; */
	/* margin-top: 1%; */
}

.navbar-login button {
	height: min(4.8svh, 5.2svw);
	width: min(13svw, 14svh);
	outline: none;
	border: 1px solid #7a7a7a;
	border-radius: 6svw;
	color: #515151;
	font-size: min(1.6svh, 1.5svw);
	font-weight: 600;
	background: white;
	cursor: pointer;
}

.navbar-login button:active {
	background: #f3f3f3;
}

.navbar-cart {
	display: flex;
	margin-top: 3%;
	/* align-items: center; */
}

.navbar-cart img {
	width: min(3.8svh, 3.8svw);
}

.navbar-cart-count {
	height: min(2svh, 2svw);
	width: min(2svh, 2svw);
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: max(-.5svh, -.5svw);
	margin-left: max(-1svh, -1svw);
	/* margin-top: max(-2.5svh, -2.5svw); */
	/* margin-left: max(-1svh, -1svw); */
	border-radius: 1.05svh;
	font-size: min(1.2svh, 1.3svw);

	font-weight: 600;
	background: red;
	color: white;
}

.navbar-dropdown {
	display: none;
}

@media(min-width: 2560px){

	:root {
		--navbar-height: min(3.4svh, 3.4svw);
		--navbar-padding: 1.0svh;
	}

	.navbar {
		padding: var(--navbar-padding) 5%;
		height: var(--navbar-height);
	}

	.navbar-placeholder {
		height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	}

	.navbar-menu {
		font-size: min(1.45svw, 1.35svh);
		padding-right: 0%;
	}

	.navbar-logo img {
		width: min(3.7svh, 3.7svw);
	}

	.navbar-logo p {
		font-size: min(2.45svh, 2.45svw);
		margin-top: 1%;
	}

	.navbar-login-cart {
		transform: scale(.85);
	}
}

@media(max-width: 1280px){

	.navbar-logo p {
		font-size: min(2.8svh, 2.8svw);
	}

	.navbar-menu {
		font-size: min(1.8svw, 1.7svh);
	}

	.navbar-login button {
		transform: scale(.95);
	}

	.navbar-cart {
		margin-top: min(.5svw, .5svh);
	}

}

@media(max-width: 1024px){

	:root {
		--navbar-height: 50px;
		--navbar-padding: 12px;
	}

	.navbar {
		padding: var(--navbar-padding) 30px;
		height: var(--navbar-height);

		width: calc(100% - 60px);
	}

	.navbar-placeholder {
		height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	}

	.navbar-menu {
		gap: 30px;
		font-size: 17px;
		padding-right: 3vw;
	}

	.navbar-logo img {
		width: 45px;
	}

	.navbar-logo p {
		margin-top: auto;
		font-size: 25px;
	}

	.navbar-login-cart {
		all: unset;
		display: flex;
		align-items: center;
		gap: 3vw;
		/* padding-right: 2vw; */
	}

	.navbar-cart-count {
		/* all: unset; */
		display: flex;
		/* justify-content: center;
		align-items: center;
		background: red;
		color: white; */
		width: 17px;
		height: 17px;
		margin-top: -3px;
		margin-left: -8px;
		border-radius: 8.5px;
		font-size: 12px;
		font-weight: 100;
		text-align: center;
	}

	.navbar-cart {
		transform: scale(1.1);
	}

	.navbar-login button {
		width: 110px;
		height: 48px;
		font-size: 15px;
	}

	.navbar-cart img {
		width: 32px;
	}
}

@media(max-width: 800px){

	:root {
		--navbar-height: 45px;
		--navbar-padding: 12px;
	}

	.navbar {
		padding: var(--navbar-padding) 30px;
		height: var(--navbar-height);

		width: calc(100% - 60px);
	}

	.navbar-logo img {
		width: 50px;
	}

	.navbar-logo p {
		font-size: 30px;
	}

	.navbar-placeholder {
		height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	}

	.navbar-dropdown {
		display: block;
		width: 38px;
		rotate: -90deg;
		transition: 0.5s;
	}

	.navbar-menu {
		visibility: hidden;
		/* height: calc(var(--navbar-height) + 1.5*var(--navbar-padding)); */
		width: 100%;
		position: absolute;
		gap: 4.8%;
		background: #f3f3f3;
		/* background: white; */
		justify-content: center;
		top: calc(1.4*var(--navbar-height) );
		height: var(--navbar-height);
		padding-right: 10%;

		opacity: 0;
		transform: translateY(-30%);
		transition: opacity 1s ease-in-out, transform 1s ease-in-out;
		z-index: 999;

		/* background: #ff4141; */
	}

	.navbar-menu-visible {
		visibility: visible;
		display: flex;
		opacity: 1;
		transform: translateY(0);
	}

	.navbar-dropdown.open {
		transform: rotate(90deg);
	}

	.navbar-login-cart {
		gap: 18%;
		padding-right: 3%;
		/* background: blue; */
	}

	.navbar-login button {
		font-size: 15px;
		height: 43px;
		border: 2px solid #171717;
	}

	.navbar-cart {
		transform: scale(1.05);
	}
}

@media(max-width: 550px){

	:root {
		--navbar-height: 40px;
		--navbar-padding: 12px;
	}

	.navbar {
		padding: var(--navbar-padding) 20px;
		height: var(--navbar-height);

		width: calc(100% - 40px);
	}

	.navbar-placeholder {
		height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	}

	.navbar-logo img {
		width: 42px;
	}

	.navbar-logo p {
		margin-top: 4%;
		font-size: 25px;
	}

	.navbar-dropdown {
		width: 33px;
	}

	.navbar-menu {
		top: calc(1.4*var(--navbar-height) );
		height: var(--navbar-height);
	}

	.navbar-login-cart {
		gap: 15%;
		/* background: blue; */
		padding-right: 4%;
	}

	.navbar-login-cart button {
		height: 40px;
		width: 100px;
	}
}

@media(max-width: 480px){
	:root {
		--navbar-height: 40px;
		--navbar-padding: 12px;

		/* width: calc(100% - 40px); */
	}

	.navbar {
		padding: var(--navbar-padding) 12px;
		height: var(--navbar-height);

		width: calc(100% - 24px);
	}

	.navbar-placeholder {
		height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	}

	.navbar-logo img {
		width: 38px;
	}

	.navbar-logo p {
		margin-top: 4%;
		font-size: 22px;
	}

	.navbar-menu {
		font-size: 14px;
		padding-right: 15%;
	}

	.navbar-dropdown {
		width: 30px;
	}

	.navbar-login-cart {
		gap: 12%;
		/* padding-right: 7%; */
	}

	.navbar-login-cart button {
		width: 95px;
		height: 38px;
	}

	.navbar-cart {
		transform: scale(.9);
	}
}

@media(max-width: 400px){
	:root {
		--navbar-height: 40px;
		--navbar-padding: 9px;
	}

	.navbar {
		padding: var(--navbar-padding) 10px;
		height: var(--navbar-height);

		width: calc(100% - 20px);
	}

	.navbar-placeholder {
		height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	}

	.navbar-logo img {
		width: 34px;
	}

	.navbar-logo p {
		margin-top: 4%;
		font-size: 18px;
	}

	.navbar-menu {
		top: calc(1.2*var(--navbar-height) );
		height: var(--navbar-height);
		font-size: 13px;
		padding-right: 15%;
	}

	.navbar-dropdown {
		width: 25px;
	}

	.navbar-login-cart {
		gap: 3%;
		padding-right: 0%;
	}

	.navbar-login-cart button {
		width: 85px;
		height: 36px;
		font-size: 12px;
		border: 1px solid #171717;
	}

	.navbar-cart {
		transform: scale(.8);
		margin-top: 5%;
	}
}

@media(max-width: 360px){
	:root {
		--navbar-height: 39px;
		--navbar-padding: 9px;
	}

	.navbar {
		padding: var(--navbar-padding) 9px;
		height: var(--navbar-height);
	}

	.navbar-placeholder {
		height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	}

	.navbar-logo img {
		width: 32px;
	}

	.navbar-logo p {
		margin-top: 4%;
		font-size: 17px;
	}

	.navbar-menu {
		font-size: 13px;
		padding-right: 16%;
	}

	.navbar-dropdown {
		width: 23px;
	}

	.navbar-login-cart {
		/* gap: 3%; */
		/* padding-right: 3%; */
	}

	.navbar-login-cart button {
		width: 80px;
		height: 34px;
		font-size: 11px;
		border: 1px solid #171717;
	}

	.navbar-cart {
		transform: scale(.75);
	}
}
