.navbar {
	display: flex;
	justify-content: space-around;
	padding: 16px;
	box-shadow: 0 1px 3px -2px black;
	align-items: center;
	top: 0;
	width: 100vw;
	height: var(--navbar-height);
	background: #f3f3f3;
	z-index: 999;
	position: fixed!important;
}


:root {
	--navbar-height: 70px;
}

.navbar-wrapper {
	/* position: fixed;
	height: 200px!important;
	background: blue;
	z-index: 100; */
}

.navbar-placeholder {
	width: 100vw;
	height: var(--navbar-height);
}


.navbar-logo{
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
}

.navbar-logo p {
	color: #171717;
	font-size: 43px;
	text-decoration: none;
}

.navbar-menu {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 50px;
	color: #626262;
	font-size: 20px;
	font-weight: 500;
}

.navbar-menu li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
	cursor: pointer;
	color: yellow;
}

.navbar-menu hr {
	border: none;
	width: 80%;
	height: 3px;
	border-radius: 10px;
	background: #ff4141;
}

.navbar-login-cart {
	display: flex;
	align-items: center;
	gap: 45px;
}

.navbar-login-cart button {
	width: 157px;
	height: 58px;
	outline: none;
	border: 1px solid #7a7a7a;
	border-radius: 75px;
	color: #515151;
	font-size: 20px;
	font-weight: 600;
	background: white;
	cursor: pointer;
}

.navbar-login-cart button:active {
	background: #f3f3f3;
}

.navbar-login-cart img {
	/* width: 42px;
	height: 42px; */
}

.navbar-cart-count {
	width: 22px;
	height: 22px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: -35px;
	margin-left: -55px;
	border-radius: 11px;
	font-size: 14px;
	background: red;
	color: white;
}

.navbar-dropdown {
	display: none;
}

@media(max-width: 1280px){
	:root {
		--navbar-height: 60px;
	}

	.navbar{
		padding: 12px 50px;
		height: var(--navbar-height);
	}

	.navbar-placeholder {
		height: var(--navbar-height);
	}

	.navbar-logo img {
		width: 40px;
	}

	.navbar-logo p {
		font-size: 25px;
	}

	.navbar-menu {
		gap: 30px;
		font-size: 16px;
	}

	.navbar-login-cart {
		gap: 30px;
	}

	.navbar-login-cart button {
		width: 120px;
		height: 45px;
		font-size: 16px;
	}

	.navbar-login-cart {
		transform: scale(.9);
	}

	.navbar-cart-count {
		margin-left: -40px;
		font-size: 12px;
	}
}

@media(max-width: 1024px){
	:root {
		--navbar-height: 45px;
	}

	.navbar {
		padding: 12px 30px;
		height: var(--navbar-height);
	}

	.navbar-placeholder {
		height: var(--navbar-height);
	}

	.navbar-menu {
		gap: 25px;
		font-size: 14px;
	}

	.navbar-login-cart button {
		width: 80px;
		height: 35px;
		font-size: 14px;
	}

	.navbar-login-cart img {
		width: 30px;
		height: 30px;
	}

	.navbar-cart-count {
		width: 18px;
		height: 18px;
	}
}

@media(max-width: 800px){

	:root {
		--navbar-height: 40px;
		--navbar-padding: 12px;
	}

	.navbar {
		padding: var(--navbar-padding) 0px;
		height: var(--navbar-height);
	}

	.navbar-placeholder {
		height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	}

	.navbar-dropdown {
		display: block;
		width: 25px;
		rotate: -90deg;
		transition: 0.5s;
	}

	.navbar-menu {
		display: none;
		height: calc(var(--navbar-height) + 1.5*var(--navbar-padding));
		width: 100%;
		position: absolute;
		background: white;
		justify-content: center;
		top: calc(var(--navbar-height) + var(--navbar-padding));
	}

	.navbar-menu-visible {
		display: flex;
		padding-right: 10%;
	}

	.navbar-dropdown.open {
		transform: rotate(90deg);
	}

	.navbar-login-cart button {
		border: 1.5px solid #171717;
	}
}

@media(max-width: 500px){
	:root {
		--navbar-height: 45px;
		--navbar-padding: 8px;
	}

	.navbar {
		padding: var(--navbar-padding) 0px;
		height: var(--navbar-height);
		gap: 0;
	}

	.navbar-placeholder {
		height: calc(var(--navbar-height) + 2*var(--navbar-padding));
	}

	.navbar-logo {
		transform: scale(0.8);
	}

	.navbar-menu {
		/* height: 70px; */
		height: calc(var(--navbar-height) + var(--navbar-padding));
		/* top: 50px; */
		top: calc(var(--navbar-height) + var(--navbar-padding));
	}

	.navbar-login-cart {
		transform: scale(.8);
	}

	.navbar-login-cart button {
		border: 2px solid #171717;
	}
}

@media(max-width: 400px){

	:root {
		--navbar-height: 35px;
		--navbar-padding: 12px;
	}
	.navbar {
		padding: var(--navbar-padding) 0px;
		height: var(--navbar-height);
		gap: 0;
	}

	.navbar-logo {
		transform: scale(0.75);
	}

	.navbar-menu {
		/* height: 65px; */
		height: calc(var(--navbar-height) + var(--navbar-padding));
		/* top: 55px; */
		top: calc(var(--navbar-height) + 1.5*var(--navbar-padding));

	}

	.navbar-login-cart {
		transform: scale(.75);
	}
}


.navbar-tmp-ws{
	font-size: x-large;
	color: #171717;
}