.Nav {
	top: 0;
	background: #63d471;
	height: 100px!important;
	display: flex;
	justify-content: space-between;
	/* padding: 0.2rem calc((100vw - 1000px) / 2); */
	z-index: 12;
	position: fixed!important;
	width: 100vw;
	font-size: 10px;
	align-items: center;
}

