.offers-wrapper {
	width: 100%;
	/* height: 65vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background: red; */
	padding: 50px 0px;
	/* margin-top: .5vh; */
	margin-bottom: 10vh;
}

.offers {
	width: 65%;
	/* height: 65vh; */
	height: auto;
	display: flex;
	margin: auto;
	padding: 0px 140px;
	/* margin-bottom: 150px; */
	background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
	/* background: blue; */
}

.offers-left {
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.offers-left h1 {
	color: #171717;
	/* font-size: 80px; */
	font-size: 8svh;
	font-weight: 600;
	text-align: start;

}

.offers-left p {
	color: #171717;
	font-size: 2.5svh;
	/* font-size: 22px; */
	font-weight: 600;
	text-align: start;
}

.offers-left button {
	/* width: 282px; */
	width: 14.2svw;
	height: 70px;
	border-radius: 35px;
	background: #ff4141;
	border: none;
	color: white;
	/* font-size: 22px; */
	font-size: 2.2svh;
	font-weight: 500;
	margin-top: 30px;
	cursor: pointer;
}

.offers-right {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* padding-top: 50px; */
}

.offers-right img {
	width: 25dvw;
}

@media(max-width: 1280px){
	.offers {
		padding: 60px 80px;
		margin-bottom: 120px;
		height: 50vh;
	}

	.offers-left h1 {
		font-size: 50px;
	}

	.offers-left p {
		font-size: 20px;
	}

	.offers-left button {
		width: 220px;
		height: 55px;
		font-size: 20px;
	}

	.offers-right {
		padding-top: 20px;
	}

	.offers-right img {
		width: 300px;
	}
}

@media(max-width: 1024px){
	.offers {
		padding: 0 60px;
		margin-top: 80px;
		margin-bottom: 80px;
		/* height: 45vh; */
		height: auto;
	}

	.offers-left h1 {
		font-size: 35px;
	}

	.offers-left p {
		font-size: 16px;
	}

	.offers-left button {
		width: 200px;
		height: 50px;
		font-size: 15px;
		margin-top: 15px;
	}

	.offers-right {
		padding-top: 20px;
	}

	.offers-right img {
		width: 240px;
	}
}

@media(max-width: 800px) {
	.offers {
		margin-top: 25vh;
		height: auto;
		margin-bottom: 60px;
	}

	.offers-left h1 {
		font-size: 35px;
	}

	.offers-left p {
		font-size: 14px;
	}

	.offers-left button {
		width: 160px;
		height: 40px;
		font-size: 12px;
	}

	.offers-right {
		padding-top: 5px;
	}

	.offers-right img {
		width: 180px;
	}
}

@media(max-width: 500px) {
	.offers {
		height: auto;
		width: 90dvw;
		margin-top: 25vh;
		margin-bottom: 15vh;
		padding: 0px 25px;
		padding-right: 10px;
	}

	.offers-left {
		align-items: flex-start;
		flex: 1.4;
	}

	.offers-left h1 {
		font-size: 25px;
		align-self: flex-start;
		font-weight: 900;
	}

	.offers-left p {
		font-size: 12px;
		font-weight: 500;
	}

	.offers-left button {
		width: 120px;
		height: 30px;
		font-size: 11px;
		margin-top: 10px;
	}

	.offers-right {
		padding-top: 5px;
		/* background: red; */
	}

	.offers-right img {
		width: 35vw;
	}
}
